<div class="home-intro" style="display: flex; align-items: center; justify-content: center; gap: 20px;">
    <!-- Left Part: Image -->
    <div class="home-photo" style="flex-shrink: 0;">
      <img src="{{ .Site.BaseURL }}images/profile.jpg" alt="Anuar Aimoldin" style="border-radius: 50%; width: 150px;">
    </div>
  
    <!-- Right Part: Text -->
    <div class="home-text" style="max-width: 600px;">
      <h2>Hi, I'm Anuar Aimoldin!</h2>
      <p>I am a machine learning & AI enthusiast.</p>
      <p>Welcome to my blog where I share my journey in tech, public speaking, and much more. Feel free to explore!</p>
  
      <!-- Download Button -->
      <a href="{{ .Site.BaseURL }}files/CVAnuar.pdf" download class="cv-download-btn">
        <button style="margin-top: 10px; padding: 3px 8px; background-color: #fff; color: rgb(108, 108, 108);; border: 3px solid rgb(108, 108, 108);; border-radius: 5px; cursor: pointer; font-size: 12px; transition: background-color 0.3s, color 0.3s, border-color 0.3s;">
            Download CV
          </button>
      </a>
    </div>
  </div>




  
  